version: '3.8'

services:
  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    ports:
      - "8000:80"
    volumes:
      - ./nginx:/etc/nginx/conf.d
      - ../:/var/www
    depends_on:
      - app-php
    networks:
      - app-network

  app-php:
    build:
      context: ./php
      dockerfile: Dockerfile
    container_name: php-fpm
    restart: always
    working_dir: /var/www
    volumes:
      - ../:/var/www
    networks:
      - app-network
  database:
    image: mariadb:latest
    container_name: mariadb
    environment:
      MARIADB_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - ../storage/:/var/lib/mysql
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
